#btn {
	//This is how we have HTML 'over' the canvas
	position: absolute;
}

#map-canvas {
	margin: auto;
	display: block;
	width: 70%;
	outline: black 3px solid;
}

#canva-id {
	margin-top: 100px;
}
