#btn {
	//This is how we have HTML 'over' the canvas
	position: absolute;
}

#map-canvas {
	margin: auto;
	display: block;
	width: 100%
}

#canvas-id {
	margin: auto;
	width: 70%;
	margin-top: 50px;
	box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
	border-radius: 15px;
	overflow: hidden;
}

#dock {
	padding-top: 50px;
	width: 50%;
	margin: auto;
	display: flex;
 	align-items: center;
}
